*{
	padding: 0;
	margin: 0;
}
body{
	background-color: black;

}
.wrapper{
	margin: 0 auto;
	width: 450px;
}
table{	
	margin-top: 15%;
	font-size: 0;
	border-collapse: collapse;
	border:0;
	background-color: #fff;
}
table td{
	border: 5px solid black;
	width: 100px;
	height: 50px;
}
table td:first-child{
	border-left:0;
}
table td:last-child{
	border-right:0;
}
table td{
	border-bottom:0;
}
table tr:first-child td{
	border-top:0;
}
.tr1{
	height: 120px;
}
.td1{
	background-color: yellow;
	width: 100px;
}
.td1-2{
	width: 50px;
}
.td1-1{
	width: 75px;
}
.td2{
	background-color: red;
}
.td3{
	background-color: yellow;
	width: 100px;
}
.td4{
	background-color: black;
	width: 200px;
}
.td5{
	background-color: yellow;
	width: 50px;
}
.td6{
	background-color: black;
	width: 100px;
	height: 35px;
}
.td7{
	background-color: blue;
}
.td8{
	height: 35px;
}